---

---

<footer>
    <p style="text-align: center;">
        &copy; <a href="https://ikuyo.dev">Eritque Arcus</a> 2025<br />Powered
        by Astro | <a href="https://github.com/Nambers/DFAEditor">DFAEditor</a>
    </p>
</footer>
